#containment-wrapper{
  width: 6000px;
  height:7000px;
  border:2px solid #ccc;
  padding: 10px;
}

/*#draggable{
  position:absolute;
}*/
/*.draggable{
  position:absolute;
}*/
.item{
  width:50px;
  position:absolute;
}
.avatar{
	width:70px;
  position:absolute;
}
.vehicle{
	width:120px;
  position:absolute;
}
.building{
	width:300px;
  position:absolute;
}
.obstacle{
  width:500px;
  position:absolute;
}
.ocean{
  width:700px;
  position:absolute;
}
.vertical{
  transform-origin: left;
    transform: translate(50%, 50%) rotate(90deg);
}