#outerspace{
  background-color:#000000;
  border:2px solid;
  width:6000px;
  height:2000px;
  background-image: url('../assets/kay/stars.jpg');
  background-repeat: repeat;
}
#skyBelt{
	height:600px;	
	width:6000px;
	background-image: linear-gradient(black, rgba(255,255,255,0));
}
#underground{
  position:absolute;
  width:2000px;
  height:1000px;
  top:4800px;
  background-color:#423229;
}
#underground2{
  position:absolute;
  width:2000px;
  height:1000px;
  top:4800px;
  left:2000px;
  background-color:#423229;
}
#underground3{
  position:absolute;
  width:2000px;
  height:1000px;
  top:4800px;
  left:4000px;
  background-color:#423229;
}